In [2]:
# import the pandas library 
import pandas as pd 
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings', 
                  'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],                                                                                                         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2], 
     'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],       'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
grouped = df.groupby('Year') 
print (grouped.get_group(2015))

      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804

In [10]:
# import the pandas library 
import pandas as pd 
left = pd.DataFrame({ 
               'id':[1,2,3,4,5], 
               'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],                                        'subject_id':['sub1','sub2','sub4','sub6','sub5']}) 
right = pd.DataFrame( 
             {'id':[1,2,3,4,5], 
              'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],        'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left) 
print(right)
lk = pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)
print(lk)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id    Name subject_id
0   1    Alex       sub2
1   2     Amy       sub4
2   3   Allen       sub3
3   4   Alice       sub6
4   5  Ayoung       sub5
   id    Name subject_id
0   4   Alice       sub6
1   5  Ayoung       sub5

In [5]:
import pandas as pd 
one = pd.DataFrame({ 'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],           'subject_id':['sub1','sub2','sub4','sub6','sub5'], 'Marks_scored':[98,90,87,69,78]}, index=[1,2,3,4,5])
two = pd.DataFrame({ 'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 'subject_id':['sub2','sub4','sub3','sub6','sub5'],
 'Marks_scored':[89,80,79,97,88]}, 
index=[1,2,3,4,5])
print (pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [9]:
import urllib
from bs4 import BeautifulSoup

# Fetch the html file
response = urllib.request.urlopen('http://tutorialspoint.com/python/python_overview.htm')
html_doc = response.read()
# Parse the html file
soup = BeautifulSoup(html_doc, 'html.parser')

# Format the parsed html file
strhtm = soup.prettify()

# Print the first few characters
print(strhtm[:225])

<!DOCTYPE html>
<html lang="en-US">
 <head>
  <title>
   Python - Overview
  </title>
  <meta charset="utf-8"/>
  <meta content="Python - Overview,  Python is a high-level, interpreted, interactive and object-oriented scripti