In [1]:
import pandas as pd
exser = pd.Series(8,index=[1,2,3,4,5])
print(exser)

1    8
2    8
3    8
4    8
5    8
dtype: int64

In [4]:
import pandas as pd
jk = pd.Series([9,8,67,54,12])
print(jk[2])
print(jk[:3])
print(jk[-3:])

67
0     9
1     8
2    67
dtype: int64
2    67
3    54
4    12
dtype: int64

In [5]:
import pandas as pd
kl = pd.DataFrame()
print(kl)

Empty DataFrame
Columns: []
Index: []

In [6]:
import pandas as pd
samplis = ['rose','sunflower','jasmine','lilly']
df1 = pd.DataFrame(samplis)
print(df1)

           0
0       rose
1  sunflower
2    jasmine
3      lilly

In [7]:
import pandas as pd
fgdic = {'Name':['Sam','Peter','mala','geetha'],'Age':[23,45,68,12]}
kl = pd.DataFrame(fgdic)
print(kl)

     Name  Age
0     Sam   23
1   Peter   45
2    mala   68
3  geetha   12

In [14]:
import pandas as pd
dt = {'one':pd.Series([23,4,5,7],index=['pi1','pi2','pi3','pi4']),'two':pd.Series([45,67,89,90],index=['rk1','rk2','rk3','rk4'])}
lk = pd.DataFrame(dt)
print(lk.loc['pi2'])

one    4.0
two    NaN
Name: pi2, dtype: float64